.leader, .telegram-link, .Upcoming-events, .service-time {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 50px;
  height: -moz-fit-content;
  height: fit-content;
  width: 70%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 25px 0 rgba(0, 0, 0, 0.15);
}

.leader-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.leader-image {
  overflow: none;
  height: 100%;
  width: 100%;
  background-color: red;
}

.leader {
  flex-direction: row;
  height: 200px;
  overflow: hidden;
  padding: 0;
  align-items: flex-start;
  display: grid;
  grid-template-columns: auto 300px;
  min-height: 330px;
  font-size: auto;
  border-radius: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", serif;
  position: relative;
}

#overlay {
  position: absolute;
  top: -140px;
  left: 0;
  background-color: black;
  height: 110%;
  width: 100vw;
  z-index: 60;
  opacity: 0;
  display: none;
  transition: all 0.5s ease;
}

#overlay.active {
  display: block;
  opacity: 0.8;
}

@keyframes navAn {
  from {
    right: -1500px;
  }
  to {
    right: 0;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 70px;
  padding-left: 15%;
  padding-right: 15%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 35;
  animation-name: navAn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

nav p {
  font-size: 1.4rem;
  font-weight: bold;
  border-top: 2.8px solid black;
  border-bottom: 2.8px solid black;
}

.items {
  top: 0;
  right: 0;
  display: none;
  grid-template-rows: 70px 70px 70px 70px;
  width: 400px;
  justify-content: space-evenly;
  font-size: 16px;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 30%;
  background-color: white;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 25px 0 rgba(0, 0, 0, 0.15);
  padding-top: 100px;
  text-align: center;
  z-index: 100;
  position: fixed;
  opacity: 0;
  animation-name: burger;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes burger {
  from {
    right: -100px;
    opacity: 0.6;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.item-list {
  transition: all 0.5s ease;
}

.item-list:hover {
  opacity: 0.9;
  font-size: 1.1rem;
  color: green;
}

#items.active {
  display: grid;
  opacity: 1;
  animation-name: burger;
  animation-duration: 0.5s;
}

.items a {
  text-decoration: none;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.menu {
  display: block;
  z-index: 105;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 35px;
  right: 15%;
  position: fixed;
  animation-name: navAn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.ham {
  display: block;
  height: 6px;
  width: 30px;
  background-color: black;
  margin: 3px;
  border-radius: 5px;
}

.nav-cont {
  z-index: 40;
}

.menu.close .ham:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu.close .ham:nth-child(2) {
  opacity: 0;
}

.menu.close .ham:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.nav-items {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  align-items: center;
  margin-right: 30px;
}

.socials img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  cursor: pointer;
}

@keyframes loading {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
.first {
  height: 600px;
  width: 70%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 40px;
  background-image: linear-gradient(170deg, yellow, green);
  animation-name: loading;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  z-index: 30;
}

.first img {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.service-time {
  position: relative;
  text-align: left;
  animation-name: cardanimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.Upcoming-events {
  position: relative;
  animation-name: cardanimationright;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.Upcoming-events li {
  font-size: 1.2rem;
}

.telegram-link {
  position: relative;
  text-align: center;
  animation-name: cardanimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.logo {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 30px;
}

.image {
  border: 3px solid black;
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  padding-left: 15px;
}

.logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

footer {
  width: 100%;
  min-height: 250px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 50px;
  margin-top: 150px;
  font-size: 0.8rem;
  position: absolute;
  bottom: auto;
  left: 0;
}

footer div {
  margin-right: 20px;
}

.about-us {
  display: flex;
  width: 410px;
  flex-direction: column;
}

@keyframes cardanimation {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes cardanimationright {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
.leader {
  position: relative;
  animation-name: cardanimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.leader-image {
  background-color: rgb(245, 245, 245);
}

.write-up {
  padding: 40px;
}

.contact-us {
  color: white;
}

.about-us {
  color: white;
}

@media screen and (max-width: 950px) {
  .logo p {
    font-size: 1.4rem;
  }
  .leader {
    font-size: 1rem;
    grid-template-columns: auto 250px;
    height: 60px;
  }
  .first img {
    height: 450px;
    width: 450px;
  }
  .first {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .items {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  nav {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
    padding-top: 0;
    height: 80px;
  }
  main {
    margin-top: 10px;
    padding-top: 20px;
  }
  .menu {
    top: 30px;
  }
  .menu {
    right: 10%;
  }
  main {
    margin-top: 70px;
  }
  .logo p {
    font-size: 1.05rem;
  }
  .image {
    width: 40px;
    height: 40px;
  }
  .socials {
    display: none;
  }
  .items {
    width: 50%;
  }
  .image img {
    width: 20px;
    margin-right: 3px;
  }
  .first {
    height: 300px;
    width: 300px;
    margin-top: 5px;
  }
  .first img {
    height: 300px;
    width: 300px;
  }
  .ham {
    height: 4px;
    width: 20px;
  }
  .service-time {
    font-size: 0.8rem;
  }
  .Upcoming-events {
    font-size: 0.8rem;
  }
  .Upcoming-events li {
    font-size: 0.9rem;
  }
  .service-time li {
    font-size: 0.9rem;
  }
  .telegram-link {
    font-size: 0.9rem;
  }
  .telegram-link {
    font-size: 0.9rem;
  }
  .leader {
    grid-template-columns: 100%;
    grid-template-rows: auto 330px;
    width: 300px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .leader h2 {
    font-size: 1.3rem;
  }
  .leader-image img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .leader p {
    font-size: 0.9rem;
  }
  .items a {
    font-size: 0.8rem;
  }
  footer {
    font-size: 0.7rem;
    padding-top: 30px;
  }
  .logo p {
    border-bottom: 2.5px solid black;
    border-top: 2.5px solid black;
  }
}/*# sourceMappingURL=main.css.map */